{% extends "base.html" %}

{% block content %}

  {% if error %}

    <div>
      <div class="alert alert-danger" role="alert">
        {{error}}
      </div>
      <a href="javascript:history.back()">Go Back</a>
    </div>

  {% else %}

    <div>
      {% if parent_id %}
        <div class="alert alert-success" role="alert">
          Comment deleted
        </div>
        <a href="/blog/{{parent_id}}">Back to post</a>
      {% else %}
        <div class="alert alert-success" role="alert">
          Post deleted
        </div>
        <a href="/">Back to home</a>
      {% endif %}
    </div>

  {% endif %}

{% endblock %}
