{% extends "base.html" %}

{% block content %}
  <div id="home-page">
      {% for p in posts %}
        <div class="post">
          <div class="post-heading">
            <div class="post-title">
              <a href="/blog/{{p.key().id()}}">
                {{p.subject}}
              </a>
            </div>
          </div>

          <div class="post-content">
            {{p.render_text() | safe}}
          </div>

          <div class="post-credit">
            <p></p>
            <p>
              <i class="fa fa-heart"></i>
              {% if (p.likes|length) > 1 %}
                {{p.likes|length}} Likes
              {% else %}
                {{p.likes|length}} Like
              {% endif %}
              |
              <i class="fa fa-user"></i> by {{p.user_name}}
              | <i class="fa fa-clock-o"></i>
              {{p.created.strftime("%b %d, %Y")}}
            </p>
          </div>

        </div>
        <br><br>
      {% endfor %}
    {% else %}
      No blog post
    {% endif %}
  </div>
{% endblock %}
